body {
	margin: 0 auto;
	width: 1024px;
}
div {
	float: left;
	margin: 10px;
	padding: 10px;
	width: 327px;
	height: 150px;
	border: 1px solid red;
	box-sizing: border-box;
}
.firstSquare {
	margin-left: 0;
}
.thirdSquare {
	margin-right: 0;
}
.rectangle {
	width: 1022px;
	height: 100px;
	border: 1px solid green;
	margin: 10px auto;
}