@import '_reset.scss';
@import '_var.scss';
@import '_adaptiv.scss';

@font-face {
	font-family: 'Ubuntu', sans-serif;
	font-weight: 400;
	src: url('~fonts/Ubuntu-Regular');
}

.content {
	display: flex;
	justify-content: space-between;
	background-color: $dark_purple;
	font-family: 'Ubuntu', sans-serif;
}
.left_content {
	flex-basis: 15%;
	background-color: $purple;

	.sidebar_header {
		text-align: center;
		padding: 45px 0;
		background: url(~/static/img/sidebar_header_bg.jpg);

		h3 {
		margin-bottom: 40px;
		color: $light_purple;
		}
		#user_menu {
		text-decoration: none;
		color: $white_purple;
		font-size: 18px;
		padding: 15px;
		margin: 20px 0;
		border-radius: 30px;
		border: 1px solid $light_purple;
		text-transform: uppercase;
		box-sizing: border-box;
		&:hover {
			background-color: $purple_hover;
			transition: 0.5s all ease;
			}
		}
	}
	.sidebar_nav_menu {
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		align-items: stretch;
		
		li {
			list-style:none;
			flex-basis: 55px;
			border-bottom: 1px solid $dark_violet;
		}	
		li:first-child {
			border-top: 1px solid $dark_violet;
		}
		img {
			margin: 15px;
			vertical-align: middle;
		}
		a {
			text-decoration: none;
			color: $light_purple;
			font-size: 16px;
			line-height: 55px;
			display: block;
			&:hover {
				background-color: $purple_hover;
				transition: 0.5s all ease;
			}
		}
		.sidebar_proj a {
			color: $white_purple;
		}
		.sidebar_heading {
			color: $dark_yellow;
			text-transform: uppercase;
			line-height: 55px;
			margin-left: 15px;
		}
	}	
}
.right_content {
	flex-basis: 85%;
	margin: 0 30px;
	
	.byRouter {
		padding-top: 30px;
		text-align: left;

		a {
			text-decoration: none;
			color: $light_purple;
			font-size: 18px;
			margin: 0 70px 20px 0;
			&:hover {
				color: $white_purple;
				transition: 0.6s all ease;
			}
		}
		.router-link-exact-active {
			color: $white_purple;
			transition: 0.5s all ease;
		}
	}
}